{{#each rides as |ride|}}

  <section data-id="{{ride.id}}">
    <div>
      <p><div class="ride-data">{{ride.date}}</div><div class="ride-data">{{limit ride.location 10}}</div><div class="ride-data">{{ride.ride_distance}}</div><div class="ride-data">{{ride.HH}}:{{ride.MM}}:{{ride.SS}}</div> <button class="edit-btn">Edit</button><button class="delete-btn">Delete</button></p>
    </div>
  </section>

{{/each}}
